:root{
    --MMYellow: #fceb09;
    --MMNavy:#132a3e;
    --MMBlue:#115099;
}

body{
    /* background-image: linear-gradient(to right, var(--MMNavy) , var(--MMBlue)); */
    background-image:url("../images/Background1.png");
    background-color: var(--MMNavy);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

select{
    appearance: none;
    height:7vh;
    font-size:2.25em;  
    background-color: transparent;
    color:var(--MMYellow);
    border-color: var(--MMYellow);
    border-radius: 17px;
    padding-left: 5px;
    filter: drop-shadow(3px 3px 2px #000000);
}

.dropdown{
    
}

option{
    background-color: transparent;
}

#Mmlogo{
height: 50%;
}


#welcome{
    height:10%;
    margin-top:10px;
}

.shadowLight{
    filter: drop-shadow(3px 3px 4px #000000);
}

.shadowThin{
    filter: drop-shadow(3px 3px 2px #000000);
}

#textLogo{
    width:70%;
    filter: drop-shadow(3px 3px 4px #000000);
    /* min-width: 80%;
    max-width: fit-content; */
}

#contrastContainer{
    background-color: rgba(19,42,62, 0.9);
    width:50vw; 
    padding-top:0px !important;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 20px;
    border-radius: 30px;
}

#plug{
    font-size: small;
    height:10%;
}
#logoBox{
    /* background-color: #fceb09; */
    color:var(--MMBlue);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    height:45vh;
    margin:auto;
    height:auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom:5vh;
    margin-top:10vh;
}

#ButtonBox{
    width:35vw;
    margin:auto;
}

.playfair{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.openSans{
    font-family: 'Open Sans', sans-serif;
}

.white{
    color:#fff;
}

.yellow{
    color:var(--MMYellow);
}

.roundButton{
    background-color: var(--MMYellow);
    color:var(--MMNavy);
    font-size: 1.5em;
    border:none;
    border-radius: 30px;
    padding:10px;
    text-decoration: none;
    transition: 0.15s;

}

.roundButton:hover{
    background-color: transparent;
    color:var(--MMYellow);
    font-size: 1.5em;
    border-color:var(--MMYellow);
    border:1px solid var(--MMYellow);
    padding:10px;
}