:root{
   --MMyellow: #fceb09;
   --MMNavy:#132a3e;
   --MMBlue:#115099;
}

#topBar{
   background-color: var(--MMBlue);
   height: 40px;
}

#textLogo{
   height: 30px;
}

#inputBar{
   position: absolute;
   bottom: 0px;
   width: 100%;
   display: inline-block;
   background-color: var(--MMBlue);
}

#userInput{
   display: inline-block;
}

#sendButton{
   display: inline-block;
   background-color: var(--MMyellow);
}