:root{
    --MMYellow: #fceb09;
    --MMNavy:#132a3e;
    --MMBlue:#115099;
}

body{
    /* background-image: linear-gradient(to right, var(--MMNavy) , var(--MMBlue)); */
    background-image: url("../images/Background1.png");
    background-color: var(--MMNavy);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* select{
    appearance: none;
    height:7vh;
    font-size:2.25em;  
    background-color: transparent;
    color:var(--MMYellow);
    border-color: var(--MMYellow);
    border-radius: 17px;
    padding-left: 5px;
} */

.formHolder{
    width:65% !important;
    border:solid var(--MMYellow) 2px;
    border-radius: 8px;
    margin:auto;
    margin-top:5vh;
    background-color: #132a3e;
    padding-bottom:15px;
    text-align: center;
    padding-top:10px;
}

.formField{
    color:var(--MMYellow);
    background-color: transparent;
    height:5.5vh;
    border:solid 2px;
    border-color: var(--MMYellow);
    border-radius: 17px;
    margin-bottom:10px;
    padding-left:5px;
    font-size:1.3em !important;
}

.formField:focus{
    background-color: var(--MMYellow);
    color: var(--MMNavy);
    border:none;
}

.formField:focus::placeholder{
    color: var(--MMNavy);
}

.formField::placeholder{
    color:white;
    opacity:0.7;
}

.formLabel{
    color:white;
    display: inline-block;
    width:fit-content;
    vertical-align: middle;
}

option{
    background-color: var(--MMNavy);
    color:var(--MMYellow);
}

.checker{
    height:20px;
    vertical-align: middle !important;
    margin-top:2%;
}

#Mmlogo{
height: 50%;
}


#welcome{
    height:10%;
    margin-top:0px;
}

#textLogo{
    height:70%;
    /* min-width: 80%;
    max-width: fit-content; */
}

#plug{
    font-size: small;
    height:10%;
}

#intakeForm{
    background-color: var(--MMNavy);
}

#ButtonBox{
    width:35vw;
    margin:auto;
}

.playfair{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.openSans{
    font-family: 'Open Sans', sans-serif;
}

.white{
    color:#fff;
}

.yellow{
    color:var(--MMYellow);
}

.centered{
    text-align: center;
}

.roundButton{
    background-color: var(--MMYellow);
    color:var(--MMNavy);
    font-size: 1.5em;
    border:none;
    border-radius: 30px;
    padding:10px;
    text-decoration: none;
    transition: 0.15s;

}

.roundButton:hover{
    background-color: transparent;
    color:var(--MMYellow);
    font-size: 1.5em;
    border-color:var(--MMYellow);
    border:1px solid var(--MMYellow);
    padding:10px;
}

#PoliceForm{
    display: none;
    transition: 0.5s; 
}

input[type="time"]{
    color:white;
justify-content: right;}

input[type="time"]::-webkit-calendar-picker-indicator{
    filter: invert(100%);
  }

input[type="time"]:focus::-webkit-calendar-picker-indicator{
    filter: none;
  }
input[type="date"]{
    color:white;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(100%);
  }

input[type="date"]:focus::-webkit-calendar-picker-indicator{
    filter: none;
  }



#MedicalForm{
    display:none;
}


#InsuranceHolder{
    display: none;
}

#IncidentDescription{
    height:100px;
}

#IncidentDescription ::placeholder{
    vertical-align: top ;
}

.half{
    width:45%;
}

#InsuredCheckLabel{
    vertical-align: middle;
}

#InsuredCheck{
    vertical-align: middle;
}

#PoliceInsured{
    vertical-align: middle;
}

#Injured{
    vertical-align: middle;


}

#IncidentDateLabel{
    color:white;
}