:root{
   --MMYellow: #fceb09;
   --MMNavy:#132a3e;
   --MMBlue:#115099;
   --MMLightBlue:#b3c9df;
}

body{
   margin:0px;
   overflow:hidden;
   background-color: var(--MMLightBlue);
}

#Mmlogo{
   height: 50%;
}

#topBar{
   background-color: var(--MMBlue);
   height: 8vh;
}

#textLogo{
   height: 80%;
   margin-top:5px;
   margin-bottom:auto;
   margin-left:10px;
}