<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Referrals</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="icon" href="{{url_for('static', filename='images/QuickCaseFavicon.png')}}" type="image/x-icon" />
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/styles.css')}}">
    </head>
    <body>
            <div id="colorBox">
                <h1 class="playfair white">Don't See Your Kind of Case? Don't Fret!</h1>

                <img id="altLogo" src="{{url_for('static', filename='images/QuickCaseLogoText.png')}}"/>
                
                <p id="plug" class="white openSans">A (potential) <img id="Mmlogo" src="{{url_for('static', filename='images/Morgan and Morgan Logo.svg')}}"/> technology</p>

                <div class="p" id="blurb">Morgan & Morgan specializes in cases of negligence and personal injury. As such, QuickCase can only send in your case if it is a matter Morgan & Morgan can handle. If you do not see the issue you are looking for in the previous list, you may need to seek alterante counsel. Below are some of our legal associates that can assist you.</div>

                <ul id="othersList">
                    <li>Carlos Hernandez Law</li>
                    <li>Roberts & Stevens Law Group</li>
                    <li>Monica Jansen Law Attorneys</li>
                </ul>
            </div>
        <script src="" async defer></script>
    </body>
</html>